{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block content %}
<div id="content-main">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="module aligned">
            <h2>{{ title }}</h2>
            <div class="form-row">
                {{ form.album.label_tag }} {{ form.album }}
                {{ form.album.errors }}
            </div>
            <div class="form-row">
                {{ form.images.label_tag }} {{ form.images }}
                {{ form.images.errors }}
            </div>
        </fieldset>
        <div class="submit-row">
            <input type="submit" value="Загрузить" class="default">
        </div>
    </form>
</div>
{% endblock %}